<header class="header">
    <div class="header-container">
        <div class="header-burger" id="burger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
        <div class="header-logo">
            <img src="img/footer-logo.svg">
        </div>
        <div class="header-container-nav" id="myDiv2">
            <a class="header-item" href="#item1" >Работы и цены</a>
            <a class="header-item" href="#item2">Преимущества</a>
            <a class="header-item" href="#item3">Команда</a>
            <a class="header-item" href="#item4">Связь с нами</a>
        </div>
        <div class="header-container-info" id="myDiv1">
            <a class="tel" href="tel:+79526190764" itemprop="telephone">+ 7 (952) 619 0 764</a>
            <a class="tel" href="tel:+79526262444" itemprop="telephone">+ 7 (952) 626 2 444</a>
            <a href="https://wa.me/79526262444" target="_blank"><img src="img/wa-icon.svg"></a>
        </div>
    </div>
</header>