.mt-53 {
  margin-top: 53px;
}
.mt-48 {
  margin-top: 49px;
}
.mt-23 {
  margin-top: 23px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-8 {
  margin-top: 8px;
}
.mr-25 {
  margin-right: 25px;
}
.pt-15 {
  padding-top: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pl-30 {
  padding-left: 30px;
}
.pt-35 {
  padding-top: 35px;
}
.pt-25 {
  padding-top: 25px;
}
.pt-5px {
  padding-top: 3px;
}
.p-45 {
  padding: 45px;
}